<div class="login-page">

  <form [formGroup]="lgFrm" class="login-card">

    <h2 class="login-title">טופס כניסה</h2>

    @if(error == false){
      <div class="error-box">שגיאה בשם משתמש או בסיסמא</div>
    }

    <div class="input-container">
      <i class="fa fa-user icon"></i>
      <input
        formControlName="userName"
        class="input-field"
        type="text"
        placeholder="Username">
    </div>

    <div class="input-container">
      <i class="fa fa-key icon"></i>
      <input
        formControlName="password"
        class="input-field"
        type="password"
        placeholder="Password">
    </div>

    <button
      type="button"
      [disabled]="lgFrm.invalid"
      class="btn"
      (click)="enter()">
      המשך
    </button>

  </form>

</div>