<div class="page">

  <div class="header">
    <div class="title">רשימת מתנדבים</div>

    <button *ngIf="isD"
            class="close-btn"
            mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- חיפוש -->
  <div class="search-box">
    <input type="text"
           class="input"
           [formControl]="searchControl"
           placeholder="חפש מתנדב...">
  </div>

  <!-- טבלה -->
  <div class="table-wrapper">

    <table class="donors-table">

      <thead>
        <tr>
          <th>קוד איחוד</th>
          <th>שם</th>
          <th>תפקיד</th>
          <th>שם האב</th>
          <th>שטיבל</th>
          <th>רחוב</th>
          <th>מספר בניין</th>
          <th>עיר</th>
          <th>מיקוד</th>
          <th>טלפון בית</th>
          <th>פלאפון</th>
          <th>הורי האם</th>
          <th>התנדבות</th>
          <th>פרטים</th>
          <th>השהיה</th>
          <th>לעריכת פרטי מתנדב או הוספת תחומי התנדבות</th>


        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let d of filteredList; let j = index">

          <td>{{d.volunteerCode}}</td>

          <td>
            {{d.volunteerCodeNavigation?.tohar}}
            {{d.volunteerCodeNavigation?.firstName}}
            {{d.volunteerCodeNavigation?.familyName}}
            {{d.volunteerCodeNavigation?.ending}}
          </td>

          <td>{{d.positionName}}</td>
          <td>{{d.volunteerCodeNavigation?.fathersName}}</td>
          <td>{{d.volunteerCodeNavigation?.shtibel}}</td>
          <td>{{d.volunteerCodeNavigation?.street}}</td>
          <td>{{d.volunteerCodeNavigation?.house}}</td>
          <td>{{d.volunteerCodeNavigation?.city}}</td>
          <td>{{d.volunteerCodeNavigation?.zipCode}}</td>
          <td>{{d.volunteerCodeNavigation?.housePhone}}</td>
          <td>{{d.volunteerCodeNavigation?.cellPhone}}</td>
          <td>{{d.volunteerCodeNavigation?.shver}}</td>

          <td>
            <button class="btn small" (click)="goToVolunteering(d)">
              הוספת התנדבות
            </button>
          </td>

          <td>
            <button class="btn small secondary"
                    (click)="goToVolunteerDetails(d)">
              פרטים
            </button>
          </td>

          <td>
            <button class="btn small danger">
              השהיה
            </button>
          </td>
            <td>
                <button class="btn small danger" (click)="goToEditVolunteer(d)">לעריכת פרטי מתנדב או הוספת תחומי התנדבות</button>
            </td>

        </tr>
      </tbody>

    </table>

  </div>

  <router-outlet></router-outlet>

</div>