<div *ngFor="let project of filteredProjects">
  <h2>{{ project.projectName }}</h2>
  <p>קוד פרויקט: {{ project.projectCode }}</p>
  @if(subProjects && subProjects.length > 0)
  {
  <div>
    <h3>תתי-פרויקטים:</h3>
    <div>
      <div *ngFor="let subProject of subProjects">
        @if(subProject.projectCode === project.projectCode){
        <ng-container>
          <p>{{subProject.subProjectName }}</p>
          <button (click)="goToVolunteering(subProject)"></button>
        </ng-container>}
      </div>
    </div>
  </div>
  }
</div>