<p>project works!</p>
@for(pr of projectService.Projects$ | async; track pr; let j = $index)
{
      <p> {{pr.projectCode}}</p>
      <p> {{pr.projectName}}</p>
}
<form [formGroup]="frm">

<label for="projectName"> projectName</label>
<input class="form-control" formControlName="projectName" type="text" name="projectName" >

<!-- <label for="projectManagerCode"> projectManagerCode</label>
<select class="form-control" formControlName="projectManagerCode"  >
  @for(volun of volunteerService.volunteers$ | async; track volun; let j = $index){
  <option >{{volun.volunteerCode}}</option>}
</select> -->
<!-- <input   type="text" name="volunteerCode" > -->
<label for="projectManager">מנהל הפרויקט </label> 
<select class="form-control" formControlName="projectManager"  autocomplete="on">
  @for(m of vlntService.volunteers; track m; let j = $index){
  <option value="{{m.volunteerCode}}">{{m.volunteerCodeNavigation?.firstName}}</option>}
</select>
<label for="domainCode">תחום הפרויקט</label> 
<select class="form-control" formControlName="domainCode"  autocomplete="on">
  @for(p of projectsArr; track p; let j = $index){
    @if(p.domainCode==null){
  <option value="{{p.projectCode}}">{{p.projectName}}</option>}}
</select>
<!-- <input class="form-control" formControlName="domainCode" type="number" name="domainCode" > -->

<button [disabled]="frm.invalid" (click)="addProject()">הוסף</button>
</form>
