<div class="page">

  <div class="title">ניהול תפקידים</div>

  <div class="table-wrapper">
    <table class="positions-table">
      <thead>
        <tr>
          <th>תפקיד מספר</th>
          <th>שם תפקיד</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of positionService.positions$ | async; let j = index">
          <td>{{ p.positionCode }}</td>
          <td>{{ p.positionName }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <form [formGroup]="frmPosition" class="position-form">

    <div class="form-card">

      <div class="form-group">
        <label class="label-form">הכנס את שם התפקיד</label>
        <input type="text" class="input" formControlName="positionName" />
      </div>

      <button class="save-btn"
              [disabled]="frmPosition.invalid"
              (click)="save()">
        שמירה
      </button>

    </div>

  </form>

</div>