<div class="domains-container">

  <label class="title">תחום הפרויקט</label>

  <div class="projects-list">
    @for(p of projectsArr; track p; let j = $index){
      @if(p.domainCode == null){
        <a
          class="project-link"
          [routerLink]="['sub', p.projectCode , p.projectName]">
          {{p.projectName}}
        </a>
      }
    }
  </div>

  <a
    class="add-btn"
    routerLink="project"
    routerLinkActive="active-link">
    להוספת תחום
  </a>

  <router-outlet></router-outlet>
</div>