<p>data-display works!</p>
<h1>פעילות הארגון</h1>

  <h2 style="text-align:center">Product Card</h2>

<div class="card">
  <h1> מספר המתנדבים</h1>
  <p class="price">{{volunteerSrv.volunteers.length}}</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <h1> מספר ההתנדבויות</h1>
  <p class="price">{{volunteeringArr.length}}</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
    <h1>  שווי ההתנדבויות בשקלים</h1>

  <p class="price" >שקלים{{estimatedCost}}</p>
  <p></p>
  <p><button >Add to Cart</button></p>
</div>
<div class="card">
  <h1>  שעות ההתנדבויות</h1>
  <p class="price" >{{estimatedTime}}</p>
  <p></p>
  <p><button >Add to Cart</button></p>
</div>
