<p>data-display works!</p>
<h1>פעילות הארגון</h1>

<!-- <div *ngFor="let project of filteredProjects">
  <h2>{{ project.projectName }}</h2>
  <p>קוד פרויקט: {{ project.projectCode }}</p>
  @if(subProjects && subProjects.length > 0)
  {
  <div>
    <h3>תתי-פרויקטים:</h3>
    <div>
      <div *ngFor="let subProject of subProjects">
        @if(subProject.projectCode === project.projectCode){
        <ng-container>
          <p>{{subProject.subProjectName }}</p>
          <button (click)="goToVolunteering(subProject)"></button>
        </ng-container>}
      </div>
    </div>
  </div>
  } -->
  <h2 style="text-align:center">Product Card</h2>

<div class="card">
  <!-- <img src="../w3images/jeans3.png" alt="Denim Jeans" style="width:100%"> -->
  <h1> מספר המתנדבים</h1>
  <p class="price">{{volunteerSrv.volunteers.length}}</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <!-- <img src="../w3images/jeans3.png" alt="Denim Jeans" style="width:100%"> -->
  <h1> מספר ההתנדבויות</h1>
  <p class="price">{{volunteeringArr.length}}</p>
  <p></p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <!-- <img src="../w3images/jeans3.png" alt="Denim Jeans" style="width:100%"> -->
    <h1>  שווי ההתנדבויות בשקלים</h1>

  <p class="price" >שקלים{{estimatedCost}}</p>
  <p></p>
  <p><button >Add to Cart</button></p>
</div>
<div class="card">
  <!-- <img src="../w3images/jeans3.png" alt="Denim Jeans" style="width:100%"> -->
  <h1>  שעות ההתנדבויות</h1>
  <p class="price" >{{estimatedTime}}</p>
  <p></p>
  <p><button >Add to Cart</button></p>
</div>
