
<form [formGroup]="vlntrFrm">

  <label for="dateOfVolunteering"> dateOfVolunteering</label>
  <input class="form-control" formControlName="dateOfVolunteering" type="date" name="dateOfVolunteering">
  <label for="volunteerCode"> volunteerCode</label>
  <select class="form-control" formControlName="volunteerCode" autocomplete="on">
    @for(volun of volunteerService.volunteers; track volun; let j = $index){
    <option value="{{volun.volunteerCode}}">{{volun.volunteerCodeNavigation?.firstName}}</option>}
  </select>
  <label for="poorManCode"> poorManCode</label>
  <select class="form-control" formControlName="poorManCode" autocomplete="on">
    @for(p of ecdService.peopleInTheEichud; track p; let j = $index){
    <option value="{{p.eichudCode}}">{{p.firstName}}</option>}
  </select>
  <label for="matcherCode">matcherCode</label>

  <select class="form-control" formControlName="matcherCode" autocomplete="on">
    @for(volun of volunteerService.volunteers; track volun; let j = $index){
    <option value="{{volun.volunteerCode}}">{{volun.volunteerCodeNavigation?.firstName}}</option>}
  </select>

      {{volunteeringService.projectCodeInS}}

  <select  class="form-control" formControlName="projectCode" autocomplete="on" (change)="onProjectChange($event)">
    @for(pro of projectsArr; track pro; let j = $index){
    @if(projectsArr[j].projectCode!=projectsArr[j].domainCode)
    {
    <!-- <option value="{{pro.projectCode}}" [selected]="volunteeringService.projectCodeInS">{{pro.projectName}}</option> -->
        <option value="{{pro.projectCode}}" >{{pro.projectName}}</option>
    }
    }
  </select>
  <label for="subProjectCode">subProjectCode</label>
  <select class="form-control" formControlName="subProjectCode">
    @for(subPro of filteredSubProjects; track subPro; let j = $index){
    <option value="{{subPro.projectCode}}">{{subPro.subProjectName}}</option>
    }
  </select>


  <!-- <label for="projectCode">projectCode</label>
  <input class="form-control" formControlName="projectCode" type="number" name="projectCode">
  <label for="subProjectCode">subProjectCode</label>
  <input class="form-control" formControlName="subProjectCode" type="number" name="subProjectCode"> -->

  <button [disabled]="vlntrFrm.invalid" (click)="addVolunteering()">הוסף</button>
</form> 