
<h1>הכנס פרטי התנדבות החדש</h1>
<!-- @for(vol of volunteeringService.volunteerings$ | async; track vol; let j = $index)
{
   <p> {{vol.volunteeringCode}}</p>
      <p> {{vol.volunteerCode}}</p>

} -->
<form [formGroup]="vlntrFrm">

<label for="dateOfVolunteering"> dateOfVolunteering</label>
<input class="form-control" formControlName="dateOfVolunteering" type="date" name="dateOfVolunteering" >

<label for="volunteerCode"> volunteerCode</label>
<select class="form-control" formControlName="volunteerCode"  autocomplete="on">
  @for(volun of volunteerService.volunteers; track volun; let j = $index){
  <option  value="{{volun.volunteerCode}}">{{volun.volunteerCodeNavigation?.firstName}}</option>}
</select>
<!-- <input   type="text" name="volunteerCode" > -->
<label for="poorManCode"> poorManCode</label>
<select class="form-control" formControlName="poorManCode"  autocomplete="on">
  @for(p of ecdService.peopleInTheEichud; track p; let j = $index){
  <option value="{{p.eichudCode}}">{{p.firstName}}</option>}
</select>
<label for="matcherCode">matcherCode</label> 
<select class="form-control" formControlName="matcherCode"  autocomplete="on">
  @for(volun of volunteerService.volunteers; track volun; let j = $index){
  <option  value="{{volun.volunteerCode}}">{{volun.volunteerCodeNavigation?.firstName}}</option>}
</select><label for="projectCode">projectCode</label> 
<input class="form-control" formControlName="projectCode" type="number" name="projectCode" >
<label for="subProjectCode">subProjectCode</label> 
<input class="form-control" formControlName="subProjectCode" type="number" name="subProjectCode" >
<button [disabled]="vlntrFrm.invalid" (click)="addVolunteering()">הוסף</button>
</form>
